* {
  box-sizing: border-box;
}

body {
  /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw)
 */
  background-image: url('https://cdn.mos.cms.futurecdn.net/rwow8CCG3C3GrqHGiK8qcJ-970-80.jpg.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  font-size: 5vmin;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal; 
}
h2{
  font-size: 2vmin;
  margin: 2vmin;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-size: 2vmin;
  margin: 0;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 18vmin);
  grid-template-rows: repeat(4, 18vmin);
  gap: 0.6vmin;
  /* margin-top: 1vmin; */
}

main>img {
  border: 0.1vmin solid grey;
  width: 18vmin;
  /* Ensure images don't exceed cell width */
  height: 18vmin;
  /* Ensure images don't exceed cell height */
  display: block;
  /* Allows margin auto to center the image */
  margin: auto;
  /* Centers the image within the cell */
  object-fit: cover;
  /* Maintains aspect ratio, covers the cell */
}
main>img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  opacity: 0.9;
  cursor: url(../prepare/cursor-cactus.png), auto;
} 
button {
  margin-top: 1.5vmin;
  padding: 1vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: none;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(#009688, #03A9F4);
}

button:hover {
  opacity : 0.5;
}
