* {
    box-sizing: border-box;
  }
  
  body {
    /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw) */
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {
    font-size: 4vmin;
    color: darkgrey;
    letter-spacing: 1vmin;
  }
  
  h1 {
    color: grey;
    font-size: 3vmin;
  }
  main {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(4, 10vmin);
    gap: 1vmin;
    margin-top: -4vmin;
  }
  main > img {
    border-radius: 50%;
    border: 0.1vmin solid grey;
    max-width: 100%; /* Ensure images don't exceed cell width */
    max-height: 100%; /* Ensure images don't exceed cell height */
    display: block; /* Allows margin auto to center the image */
    margin: auto; /* Centers the image within the cell */
    object-fit: cover; /* Maintains aspect ratio, covers the cell */
  }
  
  button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: grey;
  }
  
  button:hover {
    color: white;
    background-color: darkgrey;
  }