* {
  box-sizing: border-box;
}

body {
  background-image: url('https://cdn.mos.cms.futurecdn.net/rwow8CCG3C3GrqHGiK8qcJ-970-80.jpg.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 5vmin;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal; 
  text-shadow: 3px 3px 6px white;
}

h2{
  font-size: 1.5vmin;
  margin: 2vmin 0 0 0;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0.5px 0.5px 1px white;
}

h3{
  font-size: 2vmin;
  margin-bottom: 0 0 0.5vmin 0; 
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 2px white;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 18vmin);
  grid-template-rows: repeat(4, 18vmin);
  gap: 0.6vmin;
}

main>img {
  border: 0.1vmin solid grey;
  width: 18vmin;
  height: 18vmin;
  margin: auto;
  object-fit: cover;
}

main>img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  opacity: 0.9;
  cursor: url(../images/cursor-cactus.png), auto;
} 

button {
  margin-top: 1.5vmin;
  padding: 1vmin;
  font-size: 2vmin;
  border-radius: 10%;
  border: purple;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(#450350 40%, #6704f3);
  box-shadow: 0 4px 6px white; 
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  opacity : 0.8;
  transform: translateY(-2px); 
  box-shadow: 0 6px 10px white; 
}